# SPDX-FileCopyrightText: PyPSA-SPICE Developers

# SPDX-License-Identifier: GPL-2.0-or-later

# Untrack all files and folders in this directory
centralasia/results/

# Exceptions: These files will not be ignored and will remain under Git version control.
# You can list additional files or folders here that you want Git to track.
